<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
		<title>Вёрсточка</title>
	</head>
	<body>
		<header class="container-fluid">
			<div class="container">
			<div class="row">
				<div class="pull-right page-header">
					<h2>Контроль установки деионизации</h2>
				</div>
			</div>
				<div class="wrapper">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a href="#">Главная</a></li>
						<li role="presentation"><a href="warehouse.html">Склад</a></li>
						<li role="presentation"><a href="statistic.html">Отчёты</a></li>
						<li role="presentation"><a href="#">Документы</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="container content">
			<div class="center-block">
				<div class="device center-block">
					<div class="filter IN1">Вх1</div>
					<div class="filter IN2">Вх2</div>
					<div class="filter PF">ПФ</div>
					<div class="filter DK">ДК</div>
					<div class="filter A1-3">А1-3</div>
					<div class="filter KF">КФ</div>
					<div class="filter AF">АФ</div>
					<div class="filter FSD">ФСД</div>
					<div class="filter E">Е</div>
					<div class="filter FSDr">ФСДр</div>
				</div>
				<div class="info">
					<p th:each="PoP : ${plant}">
						<span th:text="${PoP.fullName}"></span><br/>
						<span>Дата загрузки: </span>
						<span th:text="${PoP.installationDate}"></span>
						<br/>
						<span>Дата последней регенерации: </span>
						<span th:text="${PoP.lastRegeneration}"></span>
						<br/>
						<span>Воды прошло: </span>
						<span th:text="${PoP.passedWaterVolume}"></span>
						<br/>
						<span>Ресурс израсходован на: </span>
						<span class="wear-percentage" th:text="${PoP.wearPercentage}"></span><span>%</span><br/>
						<a type="button" class="btn btn-primary" th:href="@{'/replace/' + ${PoP.plantMappingName} + '/' + ${PoP.filterName}}">Замена/Регенерация</a>
					</p>
				</div>
			</div>
			<div class="center-block">
			<form action="#" th:action="@{/change-statement}" th:object="${statement}" method="POST" class="form-inline">
				<div class="form-group">
					<label for="date">Дата замера</label>
					<input type="date" th:field="*{date}" class="form-control" id="date" placeholder="дата"/>
				</div>
				<div class="form-group">
					<label for="in">Входной счёткик</label>
					<input type="text" th:field="*{incomeStatement}" class="form-control" id="in" placeholder="Входной датчик" />
				</div>
				<div class="form-group">
					<label for="out">Выходной счётчик</label>
					<input type="text" th:field="*{outStatement}" class="form-control" id="out" placeholder="Выходной датчик" />
				</div>
				<button type="submit" class="btn btn-default">Добавить показания</button>
			</form>
			</div>
			</div>
			<footer class="navbar-fixed-bottom">
				АО "НИИМП-К"
			</footer>
		<script type="text/javascript" src="../static/js/my.js" th:src="@{/js/my.js}"></script>
	</body>
</html>